<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Mercado Liebre | Ingresa </title>
        
        <link href= "/css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet">
        <link rel="icon"  href="https://http2.mlstatic.com/static/org-img/homesnw/mercado-libre.png?v=2"  style="width: 16px; height: 16px;">
        <script src="https://kit.fontawesome.com/edeb1fef90.js" crossorigin="anonymous"></script>

    
    </head>

        <header>
            <div class="top-header">
                
                <div class="ml-logo"> <a href="/">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" width="250px">
                </a>    
                </div>
                <div class="form" action="#" method="GET">
                <input type="search" class="input" placeholder="Buscar productos y más">
                <button type="submit" class="submit"> <i class="fa fa-search"></i> </button>
                </div>
            <p id="pay-method"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
    <div class="bottom-header">
        <nav>
            <ul> 
            <li><a href="#" class="link">Ofertas</a> </li>
            <li><a href="#" class="link">Tiendas Oficiales</a> </li>
            <li><a href="#"class="link">Ayuda</a> </li>
            </ul>
        </nav>
        
        <nav>
            
            <ul>
            <li><a href="/register" class="link">Crea tu cuenta
                <i class="fa-regular fa-address-card"></i>
            </a></li>
            
            <li><a href="/login" class="link">Ingresa
                <i class="fa-solid fa-right-to-bracket"></i>
            </a></li>
            
            <li><a href="#" class="link">Mis compras
                <i class="fa-solid fa-basket-shopping"></i> 
            </a></li>
            </ul>   
        </nav> 
    </div>
        <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>

        </header>
        <body>
            <main class="login-main">
            <form class="form-login" action="/login" method="POST">

                <h1 class="tittles-form">Ingresa a tu cuenta</h1>

                <div class="data">
                <input class="input-register-form" placeholder="Nombre de usuario" type="text" id="user" minlength="6" maxlength="15"> 
                </div>

                <div class="data">
                <input class="input-register-form" placeholder="Contraseña" type="text" id="password" minlength="8" maxlength="20"> 
                </div>

                <div class="data">
                <button class="send" type="submit" href="/home">Enviar</a></button>
                </div>

            </form>
            </main>
                
            
            
            <footer class="footer">
                <div class="footer-info">
                <p class="icons"><i class="fa-solid fa-credit-card fa-2xl fa-2xs"></i></p>
                <br>
                <h4 class="footer-text">Pagá con tarjeta o en efectivo</h4>
                <br>
                <p class = "footer-text">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! 
                </p>
                </div>
    
                <br>   
                <div class="footer-info">
                <p class= "icons"><i class="fa-solid fa-gift fa-2xl fa-2xs"></i></p>
                <br>
                <h4 class = "footer-text">Envío gratis desde $ 2.500</h4>
                <br>
                <p class = "footer-text"> 
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos. 
                </p>
                </div>
                <br>
    
                <div class="footer-info">
                <p class= "icons"><i class="fa-solid fa-user-shield fa-2xl fa-2xs"></i> </p>
                <br>
                <h4 class = "footer-text">Seguridad, de principio a fin </h4>
                <br>
                <p class = "footer-text"> 
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
                </div>
                <br>
    
                
            </footer>  
            <h4 class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </body>
    </html>           
    