<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Mercado Liebre | Ingresa </title>
        
        <link href= "/css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet">
        <link rel="icon"  href="https://http2.mlstatic.com/static/org-img/homesnw/mercado-libre.png?v=2"  style="width: 16px; height: 16px;">
        <script src="https://kit.fontawesome.com/edeb1fef90.js" crossorigin="anonymous"></script>

    
    </head>

        <header class="main-header">
            <div class="top-header">
            <div class="main-logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            
            </div>

        </header>
        <body>
            <form action="/login" method="POST">
                <label>Ingresa a tu cuenta</label>

                <label for="user">Nombre de usuario:</label>
                <input type="text" name="user" id="user" minlength="6" maxlength="15"> 

                <label for="user">Contraseña:</label>
                <input type="text" name="password" id="password" minlength="8" maxlength="20"> 

                <button type="submit" href="/home">Enviar</a></button>

                
            </form>
        </body>