*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
            /*Estilos del Home*/

body {
    
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    
    }

/* Header del Home*/

header { 

    background-color: #EAC926;
    width: 98%;
    padding-bottom: 3%;
    }
    
div.top-header {

    padding: 5%;
    display:flex;
    flex-direction: row;
    }

.ml-logo {

    display: flex;
    border: none;
    margin: 20px;
    width: 50%;
    align-self: flex-start;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    }

/*Formulario de Búsqueda*/

header div.form {

    flex-direction:row;
    font-size: 12px;
    color: #666;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border-radius: 10%;
    align-items: flex-end;
    border-color: #666;
    }

.input {

    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-right: none;
    padding: 3px;
    border: #ebebeb;
    background-color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    }

.submit {

    color:#666;
    background-color: white;
    border:#ebebeb;
    padding: 3px;
    border-radius: 4px;
    border-left: none;
    position: absolute;
    cursor: pointer;
    }

#pay-method {

    color: #03264C;
    font-size: 14px;
    justify-content: center;
    font-weight: bold;
    }

ul {

    list-style: none;
    text-decoration: none;
    margin: 0%;
    }

.link {

    color: #03264C;
    size: 14px;
    text-align: left;
    cursor: pointer;
    background-color: #EAC926;
    padding: 10px;
    text-decoration: none;
    }

.burger-menu {

    color:#ebebeb;
    background-color: #1259c3;
    width: 30px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;  
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding: 5px 3px;
    
    }

.banner {

    width: 100%;
    }

/*Main del Home*/

main {

    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    
    }

.tittles { 

    font-size: 30px;
    color: #03264C;
    display: block;
    width: 100%;
    margin-bottom: 5%;
    }

main div.last-views {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

main div.products { 


    padding: 15px;
    margin-top: 1px;
    border: solid #ebebeb;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    transition: all 450ms;
    justify-content: center;
    margin: 8%
    }


.img-product {

    margin: auto;
    display: block;
    justify-content: center;
    width: 90%;
    height: 100%
    }

/*Cree contenedores para el icons del camion y para el precio y 
el descuento para poder manipularlos con las
propiedades de flexbox*/

.truck-container {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    }

.truck-icon {

    color: #39b54a;
    display: flex;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    justify-content: center;
    align-items:center;
    height: 50px;
    width: 50px;
    transition: all 450ms;
    }

.truck-icon:hover {

    transform: rotate(-90deg);
    } 
    
.price-container {
    
    display: flex;
    width: 100%;
    font-weight: bold;
    }

.price {

    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    color: #666;
    width: 30%;
    justify-content: flex-start;
    align-self: flex-end;
    }

.discount { 
    
    flex-wrap: wrap;
    font-size: 16px;
    color: #39b54a;
    cursor: pointer;
    display: flex;
    width: 70%;
    justify-content: flex-end;
    margin-left: 10px;
    font-size: 24px;
    }
    
.product-description {

    display: block;
    font-size: 22px;
    color: #39b54a;
    transition: all 450ms;
    margin-top: 7%;
    margin-bottom: 5%;
    }



main div.offers {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

    /* del Home*/

.footer {

    background-color: white;
    width: 98%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
    
    }

.icons {
    
    color: #1259c3;;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: 450ms;
    }

.icons:hover {
    color: #EAC926;
}

.footer-text {

    font-size: 12px;
    color: #666;
    text-align: center;
    justify-content: center;
    
    }

.copyright {

    font-size: 12px;
    color: #666;
    }

                /*Estilos del Register*/

.register-main {

    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    justify-content: center;
    
    }

form.register-form {

    display:flex;
    justify-content: center;
    flex-wrap: wrap; 
    }

.data {

    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px; 
    color: #666;
    }
    
.label {

    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #272727;
    margin-bottom: 3%;
    margin-top: 3%;
    
    }

.input-register-form {

    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    border: #ebebeb;
    margin-top: 2%;
    border-radius: 4px;
    }

.options {
    margin-left: 10%;
    width: 100%;
    padding: 15px;
    color: #666;
}

.user-profile {
    display: flex;
    padding: 15px;
    color: #666;
    justify-content: space-between;
    width: 70%;
    
}


.send {

    width: 51%;
    background-color: #1259c3;
    border: none;
    padding: 10px;
    color: #FFF;
    margin-bottom: 2%;
    margin-top: 2%;
    transition: all 450ms;
    border-radius: 4px;
    cursor: pointer;
    }

.send:hover{
    background-color: #0022AA;
}

.delete {
    width: 51%;
    background-color: purple;
    border: none;
    padding: 10px;
    color: #FFF;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    }

                /*Estilos del Login*/

.login- {

    background-color: #ebebeb;
    flex-wrap: wrap;
    width: 100%;
    
    }

.form-login {

    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.login-label {

    width: 100%;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #272727;
    margin-top: 20px;
    justify-content: center;
    }
    
            /*Estilos para  las resoluciones*/


    @media (max-width: 360px) {
        * {
            display: none;
        }
    }

    /*Resolucion para celulares*/

    @media (min-width: 361px) {

/*Header del Home*/

.top-header {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    }

.ml-logo img {

    width: 150px;
    }

.ml-logo, header div.form {

    width: 50%;
    margin: 0;
    padding: 0;
    }

.input {
    width: 70%;
}
#pay-method {

    display: block;
    width: 100%;
    }

ul {

    display: none;
    margin: none;
    padding: 10px;
    }

.link {

    border: none;
    display: block;
    text-align: left;
    padding: none;
    }
    
    
.bottom-header {

    margin: 0px;
    }

.burger-menu {

    display: block;
    }

.banner {

    display: none;
    }

/*Main del Home*/

.tittles {

    font-size: 25px; 
    margin-left: 2%;
    margin-top: 50px
    }
    
main div.last-views, main div.offers {

    flex-direction: column
    }
}
    
    /*Resolucion para tablets*/
    
    @media (min-width: 769px) {

/*Header del Home*/

.top-header {
    
    flex-direction: column;
    display: block;
    padding: 2%;
    }

.ml-logo {

    justify-content: flex-start;
    width: 20%;
    } 

.ml-logo img {

    width: 200px;
    }


.input, .submit {

    padding: 10px;
    }
.input {
    width: 70%;
}
.burger-menu {

    display: none;
    }

.bottom-header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

ul {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    }

.link {

    display: flex;
    flex-direction: row;
    font-weight: bold;
    }

#pay-method { 

    justify-content: flex-end;   
    width: 25%;
    font-size: 15px;
    margin-left: 5%;
    font-weight: bolder;
    }

.banner {

    display: block;
    width: 98%;
    }

/*Main del Home*/

.tittles {
    font-size: 30px;
}

main div.last-views, main div.offers {

    flex-direction: row;
    
}

main div.products {

    width: 40%;
    display:flex;
    flex-direction: column;
    margin: 0%;
    margin-bottom: 5%;
    }

.product-description {
    display: none;
}
    
main div.products:hover {
    
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
main div.products:hover > .product-description{
    
    display: block;
    
        }

.truck-icon {

    width: 35px;
    height: 35px;
}

/*Footer*/

.footer {
    
    display: flex;
    }

.footer-text {

    font-size: 10px;
    }

/*Estilos del Register*/


.input-register-form {

    width: 50%; 
    }

.label {

    justify-content: flex-start;
    margin-left: 25%
    }
.options {

    margin-left: 25%;
    }

.user-profile {
    width: 50%;
    }

/*Estilos del Login*/

.form-login  {

    margin: 0 auto;
    }
.tittles-form {

    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 5%;
    }
}

    /*Resolucion para computadoras*/

    @media (min-width: 1024px) {

    /*Header del Home*/
.ml-logo img {

    width: 250px;
    }

.input {

    width: 80%;
    }

    /*Main del Home*/
main div.products {
        
    width: 20%;
    display:flex;
    flex-direction: column;
    }

.price {

    font-size: 20px;
    }

.discount {

    align-self: center;
    font-size: 16px;
    }

.product-description {

    font-size: 20px;
    margin-top: 3%;
}
}